<%= simple_form_for(@answer_tag) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :answer_id %>
    <%= f.input :tag %>
    <%= f.input :weight %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
